{% extends 'front_office/layout.html.twig' %}

{% block content %}
<article>
    <h1>Données Privées</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium at consectetur consequuntur corporis delectus dicta distinctio dolores fuga ipsum iste labore laudantium, neque quam quo tempora ullam veritatis voluptas!</p>
</article>
{% endblock %}
