* {
    font-family: "DejaVu Sans", sans-serif;
}

:link, :visited {
    color: inherit;
}

body {
    color: #222;
    background-color: #FFFEFD;
}

body > header,
body > footer
{
    padding: .5em;
    background-color: #123;
    color: #fed;
}
