{% extends 'base.html.twig' %}

{% block title %}Rédaction d'une publi{% endblock %}

{% block body %}
    {{ form_start(create_form) }}
    {{ form_widget(create_form) }}
    <button>Publier</button>
    {{ form_end(create_form) }}
{% endblock %}
