{% extends 'base.html.twig' %}

{% block title %}Édition d'une publi{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button>Modifier</button>
    {{ form_end(edit_form) }}
{% endblock %}
