{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Il y a {{ posts | length }} article(s) :</p>
    <ul>
        {% for post in posts %}
        <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
