{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav>
            <a href="{{ path('app_frontoffice_default_homepage') }}">Accueil</a>
            {% if is_granted('ROLE_AUTHOR') %}
            <a href="{{ path('app_authoring_post_create') }}">Écrire</a>
            {% endif %}
            <a href="{{ path('app_security_login') }}">Se connecter</a>
        </nav>
    </header>

    {% block content %}{% endblock %}
{{ include('_footer.html.twig') }}
{% endblock %}
